<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
</head>

<body class="devise-body">
  <section class="login-grid">
    <div id="login-left">
      <div id="login-left-top">
        <div id="login-left-top-welcome">
          <div id="welcome-welcome">
            <h1>WELCOME TO</h1>
          </div>
          <div id="welcome-img"><%= image_tag("Runnerfy_logo_app.png", :alt => "running logo") %> </div>
          <div id="welcome-tagline">
            <h2>CONNECT, TRAIN, SUCCEED</h2>
          </div>
        </div>
      </div>
      <div id="login-left-left"></div>
      <div id="login-left-center">
        <p>New Runner Signup</p>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">

          <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "Email" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "new-password", :placeholder => "Create Password" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "Password Confirmation" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
        <% end %>

        <%= render "devise/shared/links" %>

      </div>
      <div id="login-left-right"></div>
    </div>
    <div id="login-right"></div>


  </section>

</body>

</html>